</div>
<a class="fab" href="/add">
    <span class="material-icons">
        add
    </span>
</a>
<footer>
    <a href="/about">
        &copy; Copyright Akshat Mittal
    </a>
    <div>
        GET <a href="/api/notes" target="_blank">/api/notes</a>
    </div>
</footer>
</body>

</html>