* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--bgcolor: #f0f0f0;
	--bgcolor-400: #d2d2d2;
	--bgcolor-100: #e1e1e1;
	--bgcolor-700: #c3c3c3;

	--tcolor: #121212;
	--tcolor-100: #333333;
	--tcolor-400: #272727;
	--tcolor-700: #1d1d1d;

	--back-shadow: rgba(0, 0, 0, 0.2);
	--back-shadow-light: rgba(0, 0, 0, 0.1);
	--transition-time: 200ms;
}
html {
	font-size: 16px;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	min-height: 100vh;
	width: 100vw;
	background-color: var(--bgcolor);
	color: var(--tcolor);
	font-size: 1rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover,
a:active,
a:focus {
	text-decoration: none;
	color: inherit;
}
img {
	pointer-events: none;
}
.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.notes-container,
.add {
	width: 75%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.notes {
	width: 90%;
	height: 90%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: column;
	border-radius: var(--radius);
	border: 5px solid var(--tcolor-100);
}
.notes-head {
	width: 100%;
	height: 5rem;
	background-color: var(--bgcolor-700);
	color: var(--tcolor);
	font-size: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.1rem;
	word-spacing: 0.5rem;
	border-radius: var(--radius) var(--radius) 0 0;
}
.notes-body {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 1rem 2.5rem;
}
footer {
	width: 100%;
	height: 12.5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	background-color: var(--bgcolor-400);
	position: absolute;
	bottom: 0;
}
footer a,
footer a:visited {
	text-decoration: none;
	padding: 0 1rem;
}
footer a:hover,
footer a:focus,
footer a:active {
	text-decoration: underline;
}
footer div{
	padding: 0.25rem 0;
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: rgba(0, 0, 0, 0.01);
	border: 4px solid transparent;
}
::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
	background-color: #7a7a7a;
	border-radius: 500px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #525252;
}
.material-icons {
	user-select: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}